@{
    ViewBag.Title = "Michael Brubaker";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>I love Michigan Football!</h4>
<img src="https://www.gannett-cdn.com/presto/2019/06/19/PDTN/a780f143-2c8b-452b-8694-105852b48fd7-UMCOVER.jpg?width=520&height=390&fit=bounds&auto=webp" alt="Image" height="300" >.
<p>
    Current hobbies I have are watching sports, playing video games, and going out with friends. I am a Michigan football fanatic and enjoy going to games with friends and family.

</p>