@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    45 Mill Street<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.251.6240
</address>

<address>
    Email: mb997315@ohio.edu
    
</address>