@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Michael Brubaker</h1>
        <p class="lead">
            I am currently in my senior year at Ohio University where I am studying Management Information Systems and Business Analytics. I am from Concord
            Ohio which is about 30 min east of Cleveland. In the future I hope to become the CIO of a large company and benefit my business through data driven decisions.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/michaelbrubaker6/">My LinkedIn &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>College Experience</h2>
            <p>
                Here at OU I am part of Two organizations, ISAP and Acacia Fraternity. Through these programs I have been granted with life long friends and
                networking capabilites to benefit my career.
            </p>
            <p><a class="btn btn-default" href="https://ouisap.com/">Learn more about ISAP &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Post Grad <span class="glyphicon glyphicon-education"></span></h2>
            <p>Currently I am still looking for a job. I have been in contact with many companies and looking to become a business anlayst or consultant for enterpise systems. </p>
            @Html.ActionLink("Authors", "Index", "Authors")  <br />
            @Html.ActionLink("Books", "Index", "Books") <br />
            @Html.ActionLink("Publishers", "Index", "Publishers")
        </div>
        <div class="col-md-4">
            <h2>Future Outlook <span class="glyphicon glyphicon-user"></span> </h2>
            
            <p>In the future, I hope to be living out west in Colorado. My family goes out there every year and being by the mountains brings me pure joy.</p>

        </div>
        
    </div>